* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  background: linear-gradient(to right, #b3e0ff, #ffc0cb, #ffebcd, #e6f7ff);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-first {
  background: linear-gradient(to right, #90ccf3, #f59cab, #f3d9b0, #cae9f5);
  color: black;
}

.btn-first:hover {
  /* border: 1px solid #ffc0cb; */
  background: linear-gradient(to right, #84c9f8, #f78094, #fddda8, #ade6fc);
  color: black;
  font-weight: bold;
}

.btn-second {
  background: #ffffff;
}
