<!-- header include -->
{% include "partials/header.html" %} {{bookings}}
<h1 class="pt-5 fw-bold">Booking</h1>
<div>
  <div class="mb-3 w-50">
    <label for="from" class="form-label">From</label>
    <input type="datetime-local" class="form-control" id="from" />
    <label for="to" class="form-label">To</label>
    <input type="datetime-local" class="form-control" id="to" />
  </div>
  <button id="searchBtn" class="btn btn-first">Search</button>
</div>

<script>
  const searchBtn = document.getElementById('searchBtn');

  searchBtn.addEventListener('click', async () => {
    const from = document.getElementById('from').value;
    const to = document.getElementById('to').value;

    if (!from && !to) {
      return;
    }

    const queryUrl = new URLSearchParams({
      from_date: new Date(from).getTime(),
      to_date: new Date(to).getTime(),
    });

    window.location.replace(`/booking?${queryUrl}`);
  });
</script>

<!-- footer include  -->
{% include "partials/footer.html" %}
