<!-- header include -->
{% include "partials/header.html" %}

<div class="py-5">
  <h1 class="fw-bold">All Rooms</h1>
  <div class="d-flex flex-wrap gap-3">
    {% if all_rooms and user_info %} {% for room in all_rooms%}
    <div class="card" style="width: 18rem">
      <h3 class="card-header">Room</h3>
      <h3 class="card-header">Name: {{room.name}}</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: {{room.location}}</li>
      </ul>
    </div>
    {% endfor %} {% endif %}
  </div>
  
  
  <h1 class="fw-bold pt-5">All Bookings</h1>
  <div class="d-flex flex-wrap gap-3">
    {% if all_rooms and user_info %} {% for room in all_rooms%}

        {% if room.days|length > 0 %}
              {% for day in room.days%}
                <div class="card" style="width: 18rem">
                  <h3 class="card-header">Booked</h3>
                  <div class="card-header">Name: {{room.name}}</div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location: {{room.location}}</li>
                    <li class="list-group-item">From: {{day.from_date}}</li>
                    <li class="list-group-item">To: {{day.to_date}}</li>
                    <li class="list-group-item text-end">
                      <button class="btn-delete btn">Delete</button>
                    </li>
                  </ul>
                </div>
              {% endfor %}
          {% endif %}
    {% endfor %} {% endif %}
  </div>
</div>

<!-- footer include  -->
{% include "partials/footer.html" %}
